@model IT431Site.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<div class="main">
    <div class="container">
        <div class="body-content">
            <h2>Details</h2>

            <div>
                <h4>Reservation</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerEmail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LocationID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LocationID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TravelReason)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TravelReason)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdultNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdultNum)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChildrenNum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChildrenNum)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>